
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {  
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.reports-ui-2-JLy {
  box-sizing: border-box;
  padding-bottom: 21.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX {
  margin: 0rem 3.633rem 2.6rem 0rem;
  width: calc(100% - 3.6328rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 4.5rem 0rem 42rem 0rem;
  width: 27.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .auto-group-5945-pid {
  margin: 0rem 2.9rem 10.1rem 3.4rem;
  width: calc(100% - 6.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .auto-group-5945-pid .ellipse-115-Lws {
  margin: 0rem 0.4rem 0.1rem 0rem;
  width: 4rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .auto-group-5945-pid .inspark--sB7 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qra1-u7o {
  box-sizing: border-box;
  padding: 0.8rem 13.356rem 1.2rem 1.748rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qra1-u7o .vector-cnu {
  margin-right: 1.4723rem;
  width: 4.3238rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qra1-u7o .home-ZCM {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-j6g9-UKK {
  box-sizing: border-box;
  padding: 1.3rem 12.056rem 1.5rem 1.84rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-j6g9-UKK .vector-CFK {
  margin: 0.258rem 1.84rem 0rem 0rem;
  width: 3.8641rem;
  height: 2.6583rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-j6g9-UKK .parties-WWu {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-voaz-cZw {
  box-sizing: border-box;
  padding: 1.2rem 13.756rem 1.183rem 1.748rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-voaz-cZw .vector-juT {
  margin-right: 2.3rem;
  width: 3.4961rem;
  height: 3.4167rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-voaz-cZw .items-tGZ {
  margin-bottom: 0.4167rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qtho-aQH {
  box-sizing: border-box;
  padding: 0.7rem 15.156rem 1.1rem 1.748rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qtho-aQH .vector-uBf {
  margin-right: 2.484rem;
  width: 3.3121rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-qtho-aQH .sale-FFX {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-x11j-Nb3 {
  box-sizing: border-box;
  padding: 0.8rem 9.456rem 0.9rem 1.748rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-x11j-Nb3 .vector-Jjb {
  margin-right: 2.2082rem;
  width: 3.5879rem;
  height: 4.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-x11j-Nb3 .purchase-FPw {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-akhk-ZvR {
  box-sizing: border-box;
  padding: 1.2rem 9.056rem 0.9rem 1.84rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-akhk-ZvR .vector-hFw {
  margin: 0.3rem 1.84rem 0rem 0rem;
  width: 3.8641rem;
  height: 3.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-akhk-ZvR .expenses-dQV {
  margin-bottom: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-edtv-kV7 {
  box-sizing: border-box;
  padding: 1.2rem 4.556rem 1.4rem 1.84rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-edtv-kV7 .vector-5GV {
  margin: 0rem 1.84rem 0.2rem 0rem;
  width: 3.8641rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-edtv-kV7 .other-income-QJm {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-bme1-KRj {
  box-sizing: border-box;
  padding: 0.4rem 7.956rem 0.4rem 1.932rem;
  width: 100%;
  height: 5.8rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-bme1-KRj .vector-SmF {
  margin: 0rem 1.932rem 0.9rem 0rem;
  width: 3.6801rem;
  height: 4.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-bme1-KRj .cashbank-PAh {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-wsi9-JHf {
  box-sizing: border-box;
  padding: 0.9rem 1.956rem 0.9rem 1.656rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #222834;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-wsi9-JHf .vector-Rt5 {
  margin-right: 1.7484rem;
  width: 4.1398rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-wsi9-JHf .my-online-store-yeh {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-7be9-u2Z {
  box-sizing: border-box;
  padding: 1.3rem 11.156rem 1.4rem 1.932rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #222834;
  background-color: #50596d;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-7be9-u2Z .vector-EKj {
  margin-right: 1.4723rem;
  width: 4.1398rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-l2vf-KG5 .group-105-n3B .auto-group-7be9-u2Z .reports-nMF {
  margin-top: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR {
  margin-top: 1.3048rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y {
  margin-bottom: 4.4048rem;
  height: 8.3903rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .auto-group-9hbx-khP {
  box-sizing: border-box;
  padding: 1.678rem 3.32rem 1.678rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .auto-group-9hbx-khP .searchbar-HSR {
  margin-right: 36.2801rem;
  box-sizing: border-box;
  padding: 0.559rem 28.407rem 0.463rem 2.202rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .auto-group-9hbx-khP .searchbar-HSR .vector-1NR {
  margin-right: 2.3047rem;
  width: 4.0063rem;
  height: 4.0114rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .auto-group-9hbx-khP .searchbar-HSR .search-LvV {
  margin-top: 0.2208rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.6800000072);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .auto-group-9hbx-khP .icon-add-p4y {
  margin-bottom: 0.3813rem;
  width: 5.1949rem;
  height: 4.6187rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .line-246-hPf {
  margin-right: 3.28rem;
  width: 0.02rem;
  height: 8.3903rem;
  background-color: #000000;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .icon-settings-bjw {
  margin-right: 4.9rem;
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-wqnd-d6y .icon-printer-hny {
  width: 5.4523rem;
  height: 4.8184rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 {
  margin: 0rem 1.367rem 1.3rem 0rem;
  box-sizing: border-box;
  padding: 2.2rem 2.4rem 2.2rem 0.2rem;
  height: 47.8rem;
  display: flex;
  align-items: center;
  border: solid 0.3rem #999999;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 {
  margin: 0rem 6.5rem 3.85rem 0rem;
  width: 31.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s {
  margin-bottom: 3.65rem;
  width: 100%;
  height: 32rem;
  position: relative;
  box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .ellipse-29-bG5 {
  width: 30.0148rem;
  height: 32rem;
  position: absolute;
  left: 1.3852rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .line-24-v3T {
  width: 24.1543rem;
  height: 12.9821rem;
  position: absolute;
  left: 1.4129rem;
  top: 3.3305rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .line-25-Rku {
  width: 21.8652rem;
  height: 23.0124rem;
  position: absolute;
  left: 0;
  top: 8.7129rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .item-40-ATb {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 15.766rem;
  top: 3.0214rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .item-40-GFj {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 19.9219rem;
  top: 22.3862rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .component-7-T9s .item-20-Aru {
  width: 4rem;
  height: 3.9rem;
  position: absolute;
  left: 4.2879rem;
  top: 17.5107rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-jgp9-XX7 .inventory-fHs {
  margin-right: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq {
  margin: 1.9rem 7.3rem 3.8rem 0rem;
  width: 31.4rem;
  height: calc(100% - 5.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 32rem;
  position: relative;
  box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .ellipse-27-EVP {
  width: 31.2816rem;
  height: 31.4222rem;
  position: absolute;
  left: 0.1184rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .line-19-N5o {
  width: 25.4004rem;
  height: 12.6321rem;
  position: absolute;
  left: 0;
  top: 3.3833rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .line-21-7JH {
  width: 31.3078rem;
  height: 30.9064rem;
  position: absolute;
  left: 0.0875rem;
  top: 1.0936rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .item-49-3Sq {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 5.1266rem;
  top: 20.1739rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .item-30-ks3 {
  width: 6.7rem;
  height: 3.9rem;
  position: absolute;
  left: 9.7039rem;
  top: 4.3727rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .component-12-hkM .item-21-58d {
  width: 6.1rem;
  height: 3.9rem;
  position: absolute;
  left: 24.168rem;
  top: 11.6273rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-tzof-aQq .revenue-ZpV {
  margin-right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 {
  margin: 1.3rem 0rem 3.8rem 0rem;
  width: 31.4rem;
  height: calc(100% - 5.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 32rem;
  position: relative;
  box-shadow: 1.5rem 1.5rem 1rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .ellipse-28-ke5 {
  width: 31.3219rem;
  height: 30.0769rem;
  position: absolute;
  left: 0.0781rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .line-22-tVP {
  width: 25.3766rem;
  height: 12.0919rem;
  position: absolute;
  left: 0;
  top: 3.2379rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .line-23-qQd {
  width: 25.8898rem;
  height: 23.7524rem;
  position: absolute;
  left: 0.0875rem;
  top: 8.2476rem;
  object-fit: contain;
  vertical-align: top;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .item-38-Axh {
  width: 4.1rem;
  height: 3.9rem;
  position: absolute;
  left: 12.4129rem;
  top: 2.0478rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .item-35-HnR {
  width: 4rem;
  height: 3.9rem;
  position: absolute;
  left: 5.3098rem;
  top: 17.59rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .component-12-1wP .item-27-Qc9 {
  width: 3.8rem;
  height: 3.9rem;
  position: absolute;
  left: 21.8793rem;
  top: 18.1863rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-zafk-369 .auto-group-gs3f-Vi9 .sales-qxM {
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R {
  margin-right: 1.3672rem;
  box-sizing: border-box;
  padding: 3.021rem 0.293rem 0.3rem 0.695rem;
  width: 110.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #999999;
  background-color: #d9d9d9;
  border-radius: 2rem 2rem 0 2rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 {
  margin: 0rem 1.846rem 8.856rem 0rem;
  height: 22.2228rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 {
  margin-right: 1.6063rem;
  box-sizing: border-box;
  padding: 3.153rem 1.868rem 0.756rem 1.845rem;
  width: 34.8309rem;
  height: 100%;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-m5w1-gLh {
  margin: 0rem 0rem 1.802rem 0.022rem;
  width: calc(100% - 0.0223rem);
  display: flex;
  align-items: center;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-m5w1-gLh .auto-group-s2rf-CK3 {
  margin-right: 12.9691rem;
  width: 4.5863rem;
  height: 6.0062rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-m5w1-gLh .vector-1-vF3 {
  margin-top: 0.1501rem;
  width: 13.5402rem;
  height: 4.9551rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .item-987-eB3 {
  margin: 0rem 0rem 2.606rem 0.023rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-hmtd-ZJ1 {
  margin-right: 0.3734rem;
  width: calc(100% - 0.3734rem);
  display: flex;
  align-items: flex-start;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-hmtd-ZJ1 .total-order-recived-WDF {
  margin-right: 17.4363rem;
  max-width: 9.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-hmtd-ZJ1 .item--RLD {
  box-sizing: border-box;
  padding-right: 1.0145rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-hmtd-ZJ1 .item--RLD .rectangle-14-ZSR {
  margin-right: 0.6902rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-1-At9 .auto-group-hmtd-ZJ1 .item--RLD .item-25-HtD {
  margin-bottom: 0.3936rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD {
  margin-right: 1.5668rem;
  width: 34.8309rem;
  height: 100%;
  position: relative;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .stock-ftm {
  width: 5.4rem;
  height: 2.6rem;
  position: absolute;
  left: 1.8672rem;
  top: 16.6671rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-122450-aF3 {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 1.8672rem;
  top: 10.9612rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .vector-3-5hb {
  width: 13.5867rem;
  height: 5.4056rem;
  position: absolute;
  left: 19.3762rem;
  top: 3.3033rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item--QUy {
  box-sizing: border-box;
  padding-right: 1.1078rem;
  width: 4.2016rem;
  height: 2.4024rem;
  position: absolute;
  left: 28.3879rem;
  top: 16.6671rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item--QUy .rectangle-14-vTK {
  margin: 0rem 0.69rem 0.059rem 0rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item--QUy .item-30-3nq {
  margin-bottom: 0.3024rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .icon-N4R {
  width: 4.7516rem;
  height: 6.0062rem;
  position: absolute;
  left: 1.8672rem;
  top: 3.1532rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy {
  width: 34.8309rem;
  height: 22.2228rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .stock-EMX {
  width: 5.4rem;
  height: 2.6rem;
  position: absolute;
  left: 1.8672rem;
  top: 16.6671rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-122450-YND {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 1.8672rem;
  top: 10.9612rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .vector-3-rdo {
  width: 13.5867rem;
  height: 5.4056rem;
  position: absolute;
  left: 19.3762rem;
  top: 3.3033rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item--BRB {
  box-sizing: border-box;
  padding-right: 1.1078rem;
  width: 4.2016rem;
  height: 2.4024rem;
  position: absolute;
  left: 28.3879rem;
  top: 16.6671rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item--BRB .rectangle-14-JEu {
  margin: 0rem 0.69rem 0.059rem 0rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item--BRB .item-30-1f7 {
  margin-bottom: 0.3024rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .icon-j5K {
  width: 4.7516rem;
  height: 6.0062rem;
  position: absolute;
  left: 1.8672rem;
  top: 3.1532rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj {
  width: 34.8309rem;
  height: 22.2228rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .stock-xTs {
  width: 5.4rem;
  height: 2.6rem;
  position: absolute;
  left: 1.8672rem;
  top: 16.6671rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-122450-4mo {
  width: 7.2rem;
  height: 3.1rem;
  position: absolute;
  left: 1.8672rem;
  top: 10.9612rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .vector-3-NGh {
  width: 13.5867rem;
  height: 5.4056rem;
  position: absolute;
  left: 19.3762rem;
  top: 3.3033rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item--6Tb {
  box-sizing: border-box;
  padding-right: 1.1078rem;
  width: 4.2016rem;
  height: 2.4024rem;
  position: absolute;
  left: 28.3879rem;
  top: 16.6671rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item--6Tb .rectangle-14-oso {
  margin: 0rem 0.69rem 0.059rem 0rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item--6Tb .item-30-vSd {
  margin-bottom: 0.3024rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .icon-qJh {
  width: 4.7516rem;
  height: 6.0062rem;
  position: absolute;
  left: 1.8672rem;
  top: 3.1532rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf {
  box-sizing: border-box;
  padding: 3.153rem 1.868rem 2.956rem 1.867rem;
  width: 34.8309rem;
  height: 22.2228rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-x9b7-FtD {
  margin-bottom: 1.9191rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-x9b7-FtD .auto-group-9hyd-PzR {
  margin-right: 12.7574rem;
  width: 4.7516rem;
  height: 6.0062rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-x9b7-FtD .vector-3-vzM {
  margin-top: 0.1501rem;
  width: 13.5867rem;
  height: 5.4056rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .item-122450-TzH {
  margin: 0rem 0rem 2.489rem 1.614rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-ddc5-mzy {
  margin-right: 0.3734rem;
  width: calc(100% - 0.3734rem);
  display: flex;
  align-items: flex-start;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-ddc5-mzy .stock-WxZ {
  margin-right: 21.1207rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-ddc5-mzy .item--fKf {
  box-sizing: border-box;
  padding-right: 1.1078rem;
  height: 2.4024rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-ddc5-mzy .item--fKf .rectangle-14-bj7 {
  margin: 0rem 0.69rem 0.059rem 0rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-3-jkD .item-8-JCy .item-5-rfj .item-9-kRf .auto-group-ddc5-mzy .item--fKf .item-30-ioj {
  margin-bottom: 0.3024rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM {
  box-sizing: border-box;
  padding: 3.153rem 1.868rem 0.356rem 1.831rem;
  width: 34.8309rem;
  height: 100%;
  box-shadow: 1.5rem 1.5rem 0.4rem #97a0d9;
  background-color: #ffffff;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-cdkp-hJH {
  margin: 0rem 0rem 1.819rem 0.036rem;
  width: calc(100% - 0.0359rem);
  display: flex;
  align-items: flex-start;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-cdkp-hJH .auto-group-w9yj-DnR {
  margin-right: 12.7574rem;
  width: 4.7516rem;
  height: 6.0062rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-cdkp-hJH .vector-3-Mdj {
  margin-top: 0.1501rem;
  width: 13.5867rem;
  height: 5.4056rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .item-122450-VV3 {
  margin-bottom: 2.5886rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #282323;
  font-family: ?????, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-3hez-pGR {
  margin: 0rem 0.374rem 0rem 0.013rem;
  width: calc(100% - 0.3875rem);
  display: flex;
  align-items: flex-start;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-3hez-pGR .sales-figures-MGM {
  margin-right: 20.3426rem;
  max-width: 6.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.18;
  color: #999999;
  font-family: Abhaya Libre, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-3hez-pGR .item--5CM {
  box-sizing: border-box;
  padding-right: 1.1078rem;
  height: 2.4024rem;
  display: flex;
  align-items: flex-end;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-3hez-pGR .item--5CM .rectangle-14-ci5 {
  margin: 0rem 0.69rem 0.059rem 0rem;
  width: 0.8035rem;
  height: 1.2924rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .group-68-eQ1 .item-10-azM .auto-group-3hez-pGR .item--5CM .item-30-9CD {
  margin-bottom: 0.3024rem;
  max-width: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3b8d5a;
  font-family: ?????, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP {
  width: 79.0117rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vged-LnV {
  margin: 0rem 0rem 0.195rem 0rem;
  width: 63.4305rem;
  height: 8.4798rem;
  position: relative;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vged-LnV .rectangle-148-fJy {
  width: 51.1684rem;
  height: 8.4798rem;
  position: absolute;
  left: 12.2621rem;
  top: 0;
  background-color: #ffffff;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vged-LnV .sales-Pkm {
  width: 8.2rem;
  height: 3.9rem;
  position: absolute;
  left: 41.2723rem;
  top: 2.1443rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vged-LnV .item--hWZ {
  width: 2.1rem;
  height: 3.9rem;
  position: absolute;
  left: 7.4629rem;
  top: 2.2899rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vged-LnV .rectangle-148-PeH {
  opacity: 0.3;
  width: 63.4305rem;
  height: 8.4798rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vz97-Wyo {
  margin-bottom: 0.3898rem;
  width: 42.1336rem;
  height: 8.4798rem;
  position: relative;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vz97-Wyo .rectangle-149-eq7 {
  width: 34.7578rem;
  height: 8.4798rem;
  position: absolute;
  left: 7.3758rem;
  top: 0;
  background-color: #ffffff;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vz97-Wyo .item--C5w {
  width: 2.1rem;
  height: 3.9rem;
  position: absolute;
  left: 2.6688rem;
  top: 2.1923rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vz97-Wyo .profits-59j {
  width: 9.8rem;
  height: 3.9rem;
  position: absolute;
  left: 10.4445rem;
  top: 2.1924rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-vz97-Wyo .rectangle-149-Kpm {
  opacity: 0.3;
  width: 42.1332rem;
  height: 8.4798rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-khpd-eMF {
  margin: 0rem 0rem 0.376rem 0rem;
  width: 67.3949rem;
  height: 8.4798rem;
  position: relative;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-khpd-eMF .rectangle-151-y8d {
  width: 59.5582rem;
  height: 8.4798rem;
  position: absolute;
  left: 7.8367rem;
  top: 0;
  background-color: #ffffff;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-khpd-eMF .goods-in-7Vj {
  width: 13.4rem;
  height: 3.9rem;
  position: absolute;
  left: 29.9984rem;
  top: 2.2898rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-khpd-eMF .rectangle-151-D2y {
  opacity: 0.3;
  width: 67.3949rem;
  height: 8.4798rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-jqvr-jX7 {
  margin-right: 0.0004rem;
  width: calc(100% - 0.0004rem);
  height: 8.5rem;
  position: relative;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-jqvr-jX7 .rectangle-150-s7X {
  width: 69.9855rem;
  height: 8.5rem;
  position: absolute;
  left: 9.0258rem;
  top: 0;
  background-color: #ffffff;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-jqvr-jX7 .goods-outsold-c57 {
  width: 24.4rem;
  height: 3.9rem;
  position: absolute;
  left: 29.276rem;
  top: 2.3525rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-s6ch-ooX .auto-group-raup-gxR .auto-group-kxgd-L8R .component-10-CRP .auto-group-jqvr-jX7 .rectangle-150-hsF {
  opacity: 0.3;
  width: 79.0113rem;
  height: 8.4798rem;
  position: absolute;
  left: 0;
  top: 0.014rem;
  background-color: rgba(255, 255, 255, 0.3000000119);
}
.reports-ui-2-JLy .auto-group-qked-ms7 {
  margin-right: 5rem;
  box-sizing: border-box;
  padding: 8.3rem 0.7rem 3.55rem 2.3rem;
  width: 110.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #999999;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-8qrb-gUH {
  margin: 0rem 41.3rem 1.5rem 27.9rem;
  box-sizing: border-box;
  padding: 1rem 3.9rem;
  width: calc(100% - 69.2rem);
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #000000;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm {
  width: 100%;
  height: 39.95rem;
  position: relative;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .rectangle-159-s2y {
  width: 17.5rem;
  height: 5.6rem;
  position: absolute;
  left: 90rem;
  top: 33.6rem;
  background-color: #ffffff;
  border-radius: 8rem;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .rectangle-161-z7b {
  width: 16.1rem;
  height: 6rem;
  position: absolute;
  left: 91.4rem;
  top: 0.7rem;
  background-color: #ffffff;
  border-radius: 8rem;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .buy-now-Wbj {
  width: 7.4rem;
  height: 7.3rem;
  position: absolute;
  left: 91.4rem;
  top: 32.65rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .reorder-E1w {
  width: 13.8rem;
  height: 3.7rem;
  position: absolute;
  left: 93.2rem;
  top: 2rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 {
  box-sizing: border-box;
  padding: 2.643rem 2.139rem 2.555rem 5.51rem;
  width: 90.1rem;
  height: 39.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 7rem;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-hq3o-T9b {
  margin-right: 6.4172rem;
  box-sizing: border-box;
  padding: 0.457rem 0.525rem 0.345rem 1.49rem;
  width: 32.2156rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-hq3o-T9b .rectangle-219-yNq {
  margin-bottom: 2.5rem;
  width: 30.2rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-hq3o-T9b .malas-fruit-box750-gms-Vc5 {
  margin-right: 2.4rem;
  max-width: 27.8rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ {
  margin: 1.762rem 0rem 1.898rem 0rem;
  width: 43.8184rem;
  height: calc(100% - 3.6603rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF {
  margin-bottom: 4.1888rem;
  width: 100%;
  height: 17.3537rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-fypd-e7b {
  margin-right: 2.2035rem;
  box-sizing: border-box;
  padding: 1.335rem 3.361rem 0.719rem 3.046rem;
  width: 20.8074rem;
  height: 100%;
  box-shadow: 2rem 2rem 0.4rem #f6c5c5;
  background-color: #d9d9d9;
  border-radius: 7rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-fypd-e7b .demand-400-9q3 {
  max-width: 14.4rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-fypd-e7b .demand-400-9q3 .demand-400-9q3-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-fypd-e7b .demand-400-9q3 .demand-400-9q3-sub-1 {
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-ik4h-4ad {
  box-sizing: border-box;
  padding: 4.471rem 2.269rem 4.383rem 2.269rem;
  width: 20.8074rem;
  height: 100%;
  box-shadow: 2rem 2rem 0.4rem rgba(221, 24, 24, 0.25);
  background-color: #d9d9d9;
  border-radius: 7rem;
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-ik4h-4ad .profit-xxx-b4m {
  max-width: 10.3rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-ik4h-4ad .profit-xxx-b4m .profit-xxx-b4m-sub-0 {
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .auto-group-bdkm-hTF .auto-group-ik4h-4ad .profit-xxx-b4m .profit-xxx-b4m-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .other-details--MTF {
  margin-right: 3.6254rem;
  max-width: 34.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .other-details--MTF .other-details--MTF-sub-0 {
}
.reports-ui-2-JLy .auto-group-qked-ms7 .auto-group-empd-ivm .component-11-kW5 .auto-group-zkum-PSZ .other-details--MTF .other-details--MTF-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
